@import '../styles/variables.scss';
mat-sidenav-container, mat-sidenav-content, mat-sidenav {
   height: 100%;
 }

.mat-toolbar-row, .mat-toolbar-single-row {
  padding: 0 4rem;
 }

.label[_ngcontent-c1] {
  width: 100%;
}

 .adobe {
   position: absolute;
   display: flex;
   z-index: 11;
 }

 .global-nav {
   &__logo {
     padding-left: 1rem;
     margin-top: 10px;
     font-size: 1.5rem;
     font-weight: 300;
   }
   &__link {
    &:hover {
      border-bottom: 1px solid #fff;
      padding-bottom: 0.6rem;
    }
   }
   &__items {
     font-weight: 300;
     font-size: 1rem;
   }
}

 .mat-toolbar.mat-primary {
   background-color: #27a1c5;
   position: fixed;
   width: 100%;
   z-index: 10;
   top: 0;
   overflow: hidden;
   transition: all .5s;
   height: 100px;
   margin-bottom: 50px;
   padding-top: 0px;
   color: #fff;
 }
 
 mat-sidenav {
   width: 250px;
 }
 
 a {
   text-decoration: none;
   color: white;
 }
 
 a:hover,
 a:active {
   color: lightgray;
 }
 
 .navigation-items {
   list-style: none;
   padding: 0;
   margin: 0;
   cursor: pointer;
 }
 
 .icon {
   display: inline-block;
   height: 30px;
   margin: 0 auto;
   padding-right: 5px;
   text-align: center;
   vertical-align: middle;
   // width: 15%;
 }
 
 .label {
   display: inline-block;
   line-height: 30px;
   margin: 0;
   width: 85%;
 }

 .sticky{
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
  background-color: #fff;
}