<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <nav class="footer__nav">
            <ul class="footer__nav-items">
              <li class="footer__nav-item footer__nav-title">
                <h4 class="footer__nav-title">About</h4>
              </li>
              <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">Project Overview</a>
              </li>
              <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">License</a>
              </li>
              <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">FAQs</a>
              </li>
              <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">Apache Cordova</a>
              </li>
              <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">Logo</a>
              </li>
              <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">Stickers</a>
              </li>
              <li class="footer__nav-item">
                <a class="footer__nav-link" href="#">Contact Us</a>
              </li>
            </ul>
        </nav>
      </div>
      <div class="col-3">
          <nav class="footer__nav">
              <ul class="footer__nav-items">
                <li class="footer__nav-item footer__nav-title">
                    <h4 class="footer__nav-title">Docs & Resources</h4>
                </li>
                <li class="footer__nav-item">
                  <a class="footer__nav-link" href="#">Documentation</a>
                </li>
                <li class="footer__nav-item">
                  <a class="footer__nav-link" href="#">Community Forum</a>
                </li>
                <li class="footer__nav-item">
                  <a class="footer__nav-link" href="#">Third Party Tools</a>
                </li>
                <li class="footer__nav-item">
                  <a class="footer__nav-link" href="#">Events</a>
                </li>
                <li class="footer__nav-item">
                  <a class="footer__nav-link" href="#">Books</a>
                </li>
                <li class="footer__nav-item">
                  <a class="footer__nav-link" href="#">Plugin Librarys</a>
                </li>
              </ul>
          </nav>
      </div>
      <div class="col-3">
          <nav class="footer__nav">
              <ul class="footer__nav-items">
                  <li class="footer__nav-item footer__nav-title">
                      <h4 class="footer__nav-title">We're Everywhere</h4>
                  </li>
                <li>
                  <a class="footer__nav-link" href="#">GitHub</a>
                </li>
                <li>
                  <a class="footer__nav-link" href="#">IRC</a>
                </li>
                <li>
                  <a class="footer__nav-link" href="#">Twitter</a>
                </li>
                <li>
                  <a class="footer__nav-link" href="#">Facebook</a>
                </li>
                <li>
                  <a class="footer__nav-link" href="#">Google+</a>
                </li>
                <li>
                  <a class="footer__nav-link" href="#">YouTube</a>
                </li>
                <li>
                  <a class="footer__nav-link" href="#">Instagram</a>
                  </li>
              </ul>
          </nav>
      </div>
      <div class="col-4">
        <div class="footer__messages">
          <h2 class="footer__messages_title">
            <a href="#">Get Started Now</a>
          </h2>
          <div>
            <p class="footer__message__description">Find out how to install PhoneGap, then create and preview an app on your device — almost as fast as a robot could do it.</p>
          </div>
          </div>

          <div class="footer__messages">
              <h2 class="footer__messages_title">
                <a href="#">Read Our Blog</a>
              </h2>
              <div>
                <p class="footer__message__description">Have you read our latest blog post yet? If not, go now…there is solid gold in that post.</p>
              </div>
              </div>
        </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="footer__subscribe">
          <div class="footer__description">
            <h4 class="footer__title">Stay Connected to PhoneGap</h4>
            <div class="footer__text">
                If you'd like us to keep in touch with the latest news and updates, subscribe now.
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <form class="footer__form" action="">
          <input class="footer__form__text-input" type="text" placeholder="Enter your email address">
          <input class="footer__form__submit" type="submit" value="Sign up">
        </form>
      </div>
    </div>
    <hr class="footer__hr">
    <div class="row">
      <div class="col-12">
        <div class="footer__copyright">
            Copyright © 2016 Adobe Systems Inc. All rights reserved.<br>
            Use of this website signifies your agreement to the <a href="#">Terms of Use</a> and
            <a href="#">Privacy Policy and Cookies</a>.
        </div>
      </div>
    </div>
  </div>
</div>
