<div class="show-case">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="show-case__description">See what’s possible with PhoneGap</h3>
      </div>
    </div>
      <div class="row show-case__border-block">
        <div class="col-12">
          <div class="show-case__sub-description">
              <span>Featured apps from our <a href="#">App Showcase</a></span>
          </div>
        </div>
          <div class="col-6">
              <div class="container">
                  <div class="row">
                  <div class="col-9">
                      <div class="show-case__left">
                          <div class="show-case__box">
                              <h3 class="show-case__title"><a href="#">Tripcase</a></h3>
                              <p class="show-case__text">by Nexercise</p>
                              <p class="show-case__text-for-phone">Available for iOS and Android</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-3 show-case__border">
                          <img class="show-case__img" src="../../assets/images/tripcase-icon.jpg" alt="">
                  </div>
                  </div>
              </div>
        </div>
        <div class="col-6">
          <div class="container">
          <div class="row">
            <div class="col-3">
              <img class="show-case__img" src="../../assets/images/sworkit-icon.jpg" alt="">
            </div>
          <div class="col-9">
              <div class="show-case__right">
                  <div class="show-case__box">
                      <h3 class="show-case__title"><a href="#">Sworkit</a></h3>
                      <p class="show-case__text">by Sabre Inc.</p>
                      <p class="show-case__text-for-phone">Available for iOS and Android</p>
                  </div>
                </div>
              </div>
          </div>
      </div>
      </div>
    </div>
</div>