<section class="benefits">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="benefits__description">
            <h3 class="benefits__title">Reap the benefits of open source</h3>
            <p class="benefits__text">From the team behind <a href="#">Apache Cordova</a>, the Adobe PhoneGap framework is an open source distribution of Cordova — providing the advantage of technology created by a diverse team of pros along with a robust developer community — plus access to the PhoneGap toolset, so you can get to mobile faster.</p>
        </div>
        
      </div>
    </div>
  </div>
</section>
