<div class="blog">
  <div class="container">
    <div class="row">
        <p >
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis atque maxime asperiores architecto. Facere maxime tempore, repudiandae iure aperiam corporis corrupti perferendis suscipit in esse minus voluptatem inventore possimus hic.
          </p>
          
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis atque maxime asperiores architecto. Facere maxime tempore, repudiandae iure aperiam corporis corrupti perferendis suscipit in esse minus voluptatem inventore possimus hic.
          </p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis atque maxime asperiores architecto. Facere maxime tempore, repudiandae iure aperiam corporis corrupti perferendis suscipit in esse minus voluptatem inventore possimus hic.
          </p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis atque maxime asperiores architecto. Facere maxime tempore, repudiandae iure aperiam corporis corrupti perferendis suscipit in esse minus voluptatem inventore possimus hic.
          </p>
    </div>
  </div>
 
</div>
