<div class="latest-blog">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="latest-blog__description">The latest from our blog</h3>
        </div>
      </div>
        <div class="row">
            <div class="col-6">
                <div class="container">
                    <div class="row">
                      <div class="col-2">
                        <time class="latest-blog__date">
                            <span class="latest-blog-blog__month">Apr</span>
                            <span class="latest-blog__day">09</span>
                            <span class="latest-blog__year">2019</span>
                          </time>
                      </div>
                    <div class="col-10">
                        <div class="latest-blog__left">
                            <div class="latest-blog__box">
                                <h3 class="latest-blog__title"><a href="#">PhoneGap Devs: It’s Time to Embrace a UI Framework</a></h3>
                                <p class="latest-blog__text">PhoneGap (and later Adobe PhoneGap &amp; Apache Cordova) emerged back in 2008 as a major evolution in app development. It <a href="#" class="latest-blog__more">READ MORE</a></p>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
          </div>
          <div class="col-6">
            <div class="container">
            <div class="row">
              <div class="col-2">
                <time class="latest-blog__date">
                    <span class="latest-blog-blog__month">Nov</span>
                    <span class="latest-blog__day">09</span>
                    <span class="latest-blog__year">2018</span>
                  </time>
              </div>
            <div class="col-10">
                <div class="latest-blog__right">
                    <div class="latest-blog__box">
                        <h3 class="latest-blog__title"><a href="#">Discontinuing the PhoneGap Push Service</a></h3>
                        <p class="latest-blog__text">PhoneGap (and later Adobe PhoneGap &amp; Apache Cordova) emerged back in 2008 as a major evolution in app development. It <a href="#" class="latest-blog__more">READ MORE</a></p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        </div>
      </div>
  </div>